/* Header*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.title-wrap {
    padding-bottom: 1rem;
    padding-top: 0.25rem;
}

.align-center {
    text-align: left;
    margin-left: 5rem;
}

.section-title {
    font-style: normal;
    line-height: 1.2;
}

.underline {
    padding-top: .5rem;
}

.line3 {
  width: 6rem;
  height: 1px;
  display: inline-block;
  background-color: crimson;
  transition: ease-in-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.line {
    width: 9rem;
    height: 1px;
    display: inline-block;
    background-color: crimson;
    transition: ease-in-out;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.line2 {
    width: 11rem;
    height: 1px;
    display: inline-block;
    background-color: crimson;
    transition: ease-in-out;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}



html, body {
    margin : 0;
    padding : 0;
    font-family: arial, sans-serif;
  }
  #cart-wrap { 
    display: flex; 
    max-width: 1000px;
  }
  #cart-products { width: 80% }
  #cart-list { width: 30% }
  #cart-products, #cart-list { padding: 20px }
  
 
  #cart-products {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
  }
  .p-item {
    padding: 10px;
    border: 1px solid #e8f0ff;
    background: #f2f7ff;
  }
  .p-img {
    display: block;
    margin: 0 auto;
    width: 200;
    height: 200;
  }
  .p-name {
    font-weight: bold;
    font-size: 1.1em;
  }
  .p-price {
    color: #f44242;
  }
  .p-desc {
    color: #888;
    font-size: 0.9em;
  }
  .p-add {
    background: #cfe1ff;
    border: none;
    width: 100%;
    padding: 10px;
  }
  .p-add:hover{
    cursor: pointer;
    background: #f44242;
  }
  
  /* cart */
  #cart-list div.c-item {
    background: #4790B5;
  }
  #cart-list div.c-item:hover {
    background: #63A059;
  }

  .c-item {
    padding: 10px;
    margin-bottom: 10px;
  }

  .c-qty, .c-name{
    display: inline;
  }

  .c-qty{
    margin-right: 10px;
    width: 30px;
  }

  .c-empty, .c-checkout {
    border: #f44242;
    width: 100%;
    padding: 10px;
  }

  .c-empty {
    background: #888;

  }
  .c-empty:hover {
    background: #f44242;
    cursor: pointer;

  }

  .c-checkout:hover {
    background: #f44242;
    cursor: pointer;
  }



  .header {
    overflow: hidden;
    height: 150px;
    
  }
    
    /* Style the links inside the navigation bar */
    .header a {
      float: left;
      color: #ddd;
      text-align: center;
      font-weight: bold;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      margin-top:-10px;
      margin-left: 100px;
    }
    
   
    /* Change the color of links on hover */
    .header a:hover {
      color: rgb(214, 77, 111);
    }
  
  /*style for category list*/
    .cat
    {
        float: left;
        color: #080202;
        text-align: center;
        font-weight: bold;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        margin-top: -10px;
    }
    
    /* Add a color to the active/current link */
    .header a.active {
      background-color: rgb(8, 187, 178);
      color: rgb(15, 13, 13);
    }
  
    /*style for the cart area*/
    #lin2
    { float: right;
  margin-top: -120px;
  margin-left: 400px;
  background-color: none;
    }
    #lin1
    {
        font-weight: bold;
        margin-top: 0px;
        font-size: 20px;
        color:rgb(112, 3, 30);
    }
     /*the  style of logo of the website */

  
     #one{
      font-size: 45px;
      font-weight: bold;
      font-family:cursive;
      margin-left: 600px;
      color:rgb(112, 3, 30);
      color: #ddd;
      
  }
  #two{
      font-size: 35px;
      font-weight: bold;
      font-family: cursive;
      color:rgb(214, 77, 111);
  }


  /****************************************************************/

.nav{
  margin-left: 150px;
}

.cart img:hover{
  background: #ddd;
  cursor: pointer;
}