
body{
  background-color: silver;

  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}




.box button {
  border: none;
  outline: 0;
  color: rgb(152, 206, 240);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.box button:hover {
  background: rgb(165, 17, 17);
  opacity: 0.7;
}

*{
  box-sizing: border-box;
  

}



.box {
  float: left;
  width: 33.33%;
  padding: 50px;
  background-color: rgb(22, 64, 78);
  border: rgb(151, 150, 150);
  border-style: ridge;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33%;
  margin-bottom: 16px;
  border: 10px inset rgb(16, 97, 73);
  border-image: url(border.png) 30 stretch;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: rgb(165, 17, 17);
  opacity: 0.7;
}